# Output
target/
logs/
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Eclipse
.metadata/
.externalToolBuilders/
maven-eclipse.xml
bin/
eclipse-bin/
**/.classpath
**/RemoteSystemsTempFiles/

# IntelliJ
.idea
.settings/
*.iml

# VScode
.vscode/
.project

# Mac
.DS_Store
